/*==================================================================
=================== Global properties ==============================
==================================================================*/

/*=========== Css Vars ===========*/

:root {
    --green: #2e8345;
    --green_opacity: #2e8345b7;
    --green_light: #2e834533;
    --green_dark: #246636;
}

/*=========== Global Css ===========*/
.float-right {
    float: right;
}

.float-left {
    float: left;
}

/*=========== sweet alert ===========*/
.swal2-styled.swal2-confirm{
    background-color: var(--green) !important;
}
/*=========== scrollbar ===========*/

body::-webkit-scrollbar {
    background-color: var(--green_light);
    width: 10px;
    right: -10px
}

body::-webkit-scrollbar-thumb {
    background-color: var(--green_dark);
    border-radius: 8px;
    right: -10px
}

/*=========== txt ===========*/
.text-primary {
    color: var(--green) !important;
}

.text-primary:hover {
    color: var(--green) !important;
}

/*=========== Buttons ===========*/
.btn-primary {
    background-color: var(--green) !important;
    border: 1px solid var(--green) !important;
    color: #fff;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: var(--green_dark) !important;
    border: 1px solid var(--green_dark) !important;
    color: #fff;
}

/*=========== checkbox ==============*/
.form-check-input:checked{
    background-color: var(--green);
    border-color: var(--green);
}
/*=========== Inputs ==============*/
div.input-content {
    transition: all 0.3s ease-in-out;
}

.form-control {
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    color: #6b7280;
    background-color: #fff;
    border: 1px solid var(--green) !important;
    outline: 0;
    box-shadow: 0 0px 0px 0 var(--green_light), 0 0 0 0.18rem var(--green_light) !important;
}

.form-select {
    font-size: 1rem;
}

.input-content label.required:after {
    content: "*";
    color: rgb(247, 16, 16);
}

.input-content label i {
    color: var(--green);
}

select.form-select option {
    font-size: 1.1rem;
}

/*=========== Dynamic Pagination ===========*/
.dropdown-menu.dynamic-pagination .dropdown-item.active::after{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    padding-right: 5px;
    float: right;
    vertical-align: middle;
    font-weight: 900;
}
/*=========== Pagination ===========*/
.page-item.active .page-link {
    background-color: var(--green_dark) !important;
    border-color: var(--green_dark) !important;
}

.page-item.active .page-link:hover {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
}

/*=========== button-scroll-up ===========*/
#admin #button-scroll-up {
    display: inline-block;
    background-color: var(--green_opacity);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#admin #button-scroll-up::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#admin #button-scroll-up:hover {
    cursor: pointer;
    background-color: var(--green);
}

#admin #button-scroll-up:active {
    background-color: var(--green);
}

#admin #button-scroll-up.show {
    opacity: 1;
    visibility: visible;
}


/*==================================================================
=================== NavBar  =======================================
==================================================================*/
#admin li.nav-item.dropdown.ms-lg-3 i,
#admin li.nav-item.dropdown.ms-lg-3 span {
    font-size: 20px;
}

#admin li.nav-item.dropdown.ms-lg-3 i {
    color: #111827
}

#admin .navbar.navbar-top.navbar-expand #navbarSupportedContent {
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0px 0px 30px -3px #a1a1a1;
    background-color: var(--green_light);
}

/*==================================================================
=================== NavBar (Md Screen)  ============================
==================================================================*/
.navbar-theme-primary:not(.headroom) {
    background-color: var(--green_dark);
}

/*==================================================================
=================== SideBar =======================================
==================================================================*/

#admin nav#sidebarMenu {
    background-color: var(--green_dark) !important;
}

#admin nav#sidebarMenu .nav-link.active,
#admin nav#sidebarMenu .nav-link:hover {
    background-color: var(--green) !important;
}

#admin nav#sidebarMenu .nav-item .sidebar-text,
#admin nav#sidebarMenu .nav-item .sidebar-icon {
    color: #fff !important;
}

#admin nav#sidebarMenu .sidebar .nav-item {
    margin-bottom: 0 !important;
}

#admin nav#sidebarMenu .sidebar-icon i {
    font-size: 1.2rem !important;
}

#admin nav#sidebarMenu .sidebar-icon.brand-img img {
    width: 25px !important;
    max-width: 25px !important;
}

#admin nav#sidebarMenu .sidebar-inner {
    overflow-y: visible !important;
}

#admin nav#sidebarMenu .multi-level .nav-item .nav-link{
    padding-left: 35px !important;
}
/*==================================================================
=================== table index ====================================
==================================================================*/
#admin table.index-table td.actions i {
    font-size: 1.2rem;
}

#admin table.index-table i.fa-user {
    color: var(--green_dark);
}

#admin table.index-table .delete-btn {
    border: none;
    padding: 0;
    background-color: transparent;
}

/*==================================================================
=================== Create form ====================================
==================================================================*/

/*===== Dynamic Input ====*/
.create-form .dynamic-inputs #inputFormRow {
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.create-form .dynamic-inputs>#inputFormRow {
    margin-top: 0;
    transition: all 0.5s ease-in-out;

}

.create-form .dynamic-inputs #inputFormRow input {
    width: calc(100% - 100px);
}

.create-form .dynamic-inputs .input-group-append {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100px;
    z-index: 99;
}

.create-form .dynamic-inputs button {
    transition: all 0.3s ease-in-out;
    border-radius: 50% !important;
    padding: 8px 10px !important;
    line-height: 1;
    margin: 0px  !important;
}
.create-form .dynamic-inputs button:first-of-type{
    margin-left: 10px !important;
}
.create-form .dynamic-inputs button:hover {
    transform: translateY(-3px);
    background-color: #fff;
}

/*==================================================================
=================== edit form ====================================
==================================================================*/
form.edit-form .show-img-container{
    margin-left: 20px;
    box-shadow: 0px 2px 36px 2px rgb(0 0 0 / 34%);
    display: inline;
    border-radius: 5px;
    padding: 3px;
}
form.edit-form .show-img-container img{
    width: 30px;

}
/*==================================================================
=================== table show ====================================
==================================================================*/
table.show-data tr td > i {
    color: var(--green) !important;
}
table.show-data .product-price{
    color: #2e8345;
    font-weight: bolder;
}
table.show-data .show-img-container{
    box-shadow: 0px 2px 36px 2px rgb(0 0 0 / 16%);
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
}
table.show-data td.product-image img{
    height: 120px;
}
table.show-data td.product-desc{
    white-space: normal;
}
table.show-data td span.badge{
    color: #fff !important;
    padding: 7px 10px;
    border-radius: 3px;
}
table.show-data td span.badge i {
    padding-right: 3px;
}
